/* Reset de estilos e configurações globais */
body {
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

/* Estilos para botões */
.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	margin-bottom: 20px;
	transition: 0.3s;
}

.btn:hover, .btn:active, .btn:focus {
	outline: none !important;
	box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
}

/* Estilos específicos para botões primários */
.btn.btn-primary {
	background: primary !important; /* Certifique-se de que 'primary' seja uma variável válida */
	border-color: primary !important;
	color: white;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
	border-color: darken(primary, 10%) !important;
	background: darken(primary, 10%) !important;
}

/* Estilos para seção de contato */
.contact-wrap {
	background-image: url('/images/bgcontato2.jpg');
	background-size: 100% 100%;
	color: #ffffff;
	padding: 20px;
}

.contactForm {
	.label {
		color: black;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
	}

	.form-control {
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0;
	}
}

/* Estilos para formulário de contato */
#contactForm {
	.error {
		color: red;
		font-size: 12px;
	}

	.form-control {
		font-size: 16px;
	}
}

#message {
	resize: vertical;
}

#form-message-warning,
#form-message-success {
	display: none;
}

#form-message-warning {
	color: red;
}

#form-message-success {
	color: success; /* Certifique-se de que 'success' seja uma variável válida */
	font-size: 18px;
	font-weight: bold;
}

.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: bold;
}

/* Estilos para fundo do formulário */
.form-bg {
	background-image: url('images/fundoForm.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
